<html lang="en">

<head>
  <%- include('parciales/head'); %>
    <title>Clientes</title>
</head>

<body>
  <header>
    <%- include('parciales/navbar'); %>
  </header>

  <div class="container">
    <h1>Clientes</h1>
    <hr>

    <div id="contenedorTablaPolizas" style="height: 300px;">
        <table class="table table-striped" id="tablaPolizas">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>RFC</th>
            </tr>
          </thead>
        </table>
      </div>
  </div>
    <script>
    </script>
</body>

</html>