<html lang="en">

<head>
  <%- include('parciales/head'); %>
    <title>Facturacion</title>
</head>

<body>
  <header>
    <%- include('parciales/navbar'); %>
  </header>

  <div class="container">
    <h1>Factura Electronica</h1>
    <hr>
    <h3>Comprobante</h3>
    <!--<div class="row">
      <div class="col-sm-2">
        <label for="serie" class="form-label">Serie</label>
        <input type="text" class="form-control" id="serie" disabled>
      </div>
      <div class="col-sm-4">
        <label for="folio" class="form-label">Folio</label>
        <input type="text" class="form-control" id="folio" disabled>
      </div>
    </div>-->

    <div class="row">
      <div class="col-sm-4">
        <label for="regimenFiscal" class="form-label">Regimen Fiscal</label>
        <select class="form-select" id="regimenFiscal">
        </select>
      </div>
      
      <div class="col-sm-4">
        <label for="codigoPostal" class="form-label">Codigo Postal</label>
        <select class="form-select" id="codigoPostal">
        </select>
      </div>
      
      <div class="col-sm-4">
        <label for="fechaDeEmision" class="form-label">Fecha de Emision</label>
        <select class="form-select" id="fechaDeEmision">
        </select>
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-4">
        <label for="tipoDeComprobante" class="form-label">Tipo de Comprobante</label>
        <select class="form-select" id="tipoDeComprobante">
        </select>
      </div>

      <div class="col-sm-4">
        <label for="formaDePago" class="form-label">Forma de Pago</label>
        <select class="form-select" id="formaDePago">
        </select>
      </div>

      <div class="col-sm-4">
        <label for="metodoDePago" class="form-label">Metodo de Pago</label>
        <select class="form-select" id="metodoDePago">
        </select>
      </div>
    </div>
    <hr>
    <h3>Datos Generales</h3>
    <div class="row">
      <div class="col-sm-4">
        <label for="moneda" class="form-label">Moneda</label>
        <select class="form-select" id="moneda">
        </select>
      </div>

      <div class="col-sm-4">
        <label for="tipoDeCambio" class="form-label">Tipo de Cambio</label>
        <select class="form-select" id="tipoDeCambio">
        </select>
      </div>
    </div>
    
    
    <br>
    <button class="btn btn-primary" id="timbrar">Timbrar</button>
    <script>
      $("#timbrar").on("click", function () {
        console.log("timbrando");
      });

$.getJSON("https://raw.githubusercontent.com/bambucode/catalogos_sat_JSON/master/c_RegimenFiscal.json",         function(data){
        console.log(data);
        var toAppend = '';
           $.each(data,function(i,o){
           toAppend += '<option value="' + o.id + '">'+ o.descripcion+'</option>';
          });

         $('#regimenFiscal').append(toAppend);
      });

      
  $.getJSON("https://raw.githubusercontent.com/bambucode/catalogos_sat_JSON/master/c_TipoDeComprobante.json",         function(data){
        console.log(data);
        var toAppend = '';
           $.each(data,function(i,o){
           toAppend += '<option value="' + o.id + '">'+ o.descripcion+'</option>';
          });

         $('#tipoDeComprobante').append(toAppend);
      });

      $.getJSON("https://raw.githubusercontent.com/bambucode/catalogos_sat_JSON/master/c_UsoCFDI.json",         function(data){
        console.log(data);
        var toAppend = '';
           $.each(data,function(i,o){
           toAppend += '<option value="' + o.id + '">'+ o.id + " " +o.descripcion+'</option>';
          });

         $('#usoDeCFDI').append(toAppend);
      });

$.getJSON("https://raw.githubusercontent.com/bambucode/catalogos_sat_JSON/master/c_FormaPago.json",         function(data){
        console.log(data);
        var toAppend = '';
           $.each(data,function(i,o){
           toAppend += '<option value="' + o.id + '">'+ o.id + " " +o.descripcion+'</option>';
          });

         $('#formaDePago').append(toAppend);
      });

  $.getJSON("https://raw.githubusercontent.com/bambucode/catalogos_sat_JSON/master/c_MetodoPago.json",         function(data){
        console.log(data);
        var toAppend = '';
           $.each(data,function(i,o){
           toAppend += '<option value="' + o.id + '">'+ o.id + " " +o.descripcion+'</option>';
          });

         $('#metodoDePago').append(toAppend);
      });


      $.getJSON("https://raw.githubusercontent.com/bambucode/catalogos_sat_JSON/master/c_Moneda.json",         function(data){
        console.log(data);
        var toAppend = '';
           $.each(data,function(i,o){
           toAppend += '<option value="' + o.id + '">'+ o.id + " " +o.descripcion+'</option>';
          });

         $('#moneda').append(toAppend);
      });
     
    </script>
</body>

</html>